@media (min-width: 768px) {
  .container {
    max-width: 768px; } }

@media (min-width: 992px) {
  .container {
    max-width: 992px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

@media (min-width: 1440px) {
  .container {
    max-width: 1440px; } }

.container .row {
  margin: 0px; }

table.table-products thead {
  background-color: #F7F7F7;
  color: #333;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 0px; }
  table.table-products thead th {
    vertical-align: middle;
    cursor: pointer; }
  table.table-products thead .dropdown .btn.btn-cog {
    background-color: #F7F7F7;
    color: #333; }
  table.table-products thead .dropdown #mark-as {
    direction: ltr;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    padding: 8px 16px;
    cursor: pointer;
    margin-bottom: 15px; }
  table.table-products thead .dropdown .dropdown-menu.show {
    direction: ltr; }
    table.table-products thead .dropdown .dropdown-menu.show a.dropdown-item {
      font-size: 12px;
      line-height: 14px;
      color: #828282;
      padding: 8px 16px;
      cursor: pointer; }

table.table-products tbody {
  font-size: 13px;
  line-height: 15px;
  color: #4F4F4F;
  padding: 13px 0px 19px 0px; }
  table.table-products tbody th {
    vertical-align: middle; }
  table.table-products tbody td {
    vertical-align: middle; }
    table.table-products tbody td img {
      width: 40px;
      height: 40px;
      margin-right: 15px; }
    table.table-products tbody td .btn-active {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      border-radius: 60px;
      padding: 1px 10px; }
